body {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}

#leftHeader {
    background-color: purple;
    width: 20%;
    height: 100px;
}

header {
    background-color: red;
}

#navButtons {
    width: 60%;
    height: 100px;
    background-color: grey;
    margin: 20px;
    padding-left: 50px;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;

}

header {
    margin: 0px;
    text-align: center;
    width: 40%;
}

#navButtons,
#About,
#Portfolio,
#Contact,
#picOfMe {

    float: left;
}

#mainContent {
    background-color: gray;
    width: 60%;
    margin: 0 auto;
}

#picOfMe {
    margin-right: 20px;

}