a {
    padding: 0;
    margin: 0;
}


header {


}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
}

#aboutMe {

    color: #4aaaa5;
}

#About,
#Portfolio,
#Contact,
#picOfMe {

    float: left;
}

