
body {
    background-image: url("../images/otis_redding_@2X.png");
   padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

a {

    text-decoration: none;
    color: #777;
}
header,
#navButtons,
#leftHeader {
    font-family: 'Georgia', Times, serif;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#leftHeader {
    background-color: #fff;
    height: 100px;
    float: left;
    width: 160px
}


header {
    width: 280px;
    margin: 0px;
    text-align: center;
    background-color: #4aaaa5;
    float: left;
    color: #fff;
}

h1 {
    position: relative;
    top: 6px;
}

#navButtons {
    background-color: #fff;
    float: left;
    position: relative;
    width: 820px;
}


#navLinks {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 493px;
    padding-top: 20px;
    text-decoration: none;
    
}


#About,
#Portfolio,
#Contact {
    float:left;
    margin-right: 30px;
}

#mainContent {
    clear: both;
    background-color: #fff;
    width: 960px;
    height: 520px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    padding: 0px 10px 10px 20px;
    border: 1px solid #ddd;
   
}

#portfolioBox {

    clear: both;
    background-color: #fff;
    width: 960px;
    height: 1200px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

#portfolioAligner {
    width: 700;
    height: 900;
    border: 2px solid #fff;
}

#formElements {
    color: #777;
}

#formItem {
    margin-bottom: 10px;
}

button {
    border-radius: 0px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 10px 30px 10px 30px;
}

.contentBox {
    float: left;
    margin: 10px;
}

.pictureText {
    position: relative;
    bottom: 80px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mainContentHeading {
    color: #4aaaa5;
    margin-left: 3px;
    font-size: 35px;
    font-family:  'Georgia', Times, serif;
}

#greyBorder {
    height: 3px;
    width: 940px;
    background-color: #ddd;
    margin-bottom: 30px;
    margin-left: 1px;
}

#picOfMe {
    margin-right: 20px;
    padding-left: 0px;
    float: left;

}

p {
   line-height: 1.5em;
}

#mintBorder {
    width: 100%;
    height: 5px;
    background-color: #4aaaa5;
}

footer {

    height: 20px;
    background-color: #666;
    text-align: center;
    padding-top: 80px;
    color: #fff;

}